<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="{% static 'products/css/bootstrap.min.css' %}" rel="stylesheet" >

    <!--Owl Carousel CSS-->
    <link rel="stylesheet" href="{% static 'products/css/owl.carousel.min.css' %}">

    <!--FontAwesome CSS-->
    <link rel="stylesheet" href="{% static 'products/css/all.min.css' %}">

    <!--Custom CSS-->
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">

    <title>Kolbe_Honar | {% block title %} {% endblock title %} </title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
     <div class="container">
       <a class="navbar-brand" href="/">Kolbe_Honar</a>
         <a href="#" class="nav-link text-white">Contact</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="/">Home</a>
           </li>
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle text-white" href="#" id="electronicsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Products
             </a>
             <ul class="dropdown-menu" aria-labelledby="electronicsDropdown">
               <li><a class="dropdown-item" href="#">Painting</a></li>
               <li><a class="dropdown-item" href="#">Statuary</a></li>
                 <li><a class="dropdown-item" href="#">HandiCrafts</a></li>
                 <li><a class="dropdown-item" href="#">Minatory</a></li>
             </ul>
           </li>





           </li>
         </ul>
         <form class="d-flex">
           <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
           <button class="btn btn-warning" type="submit">Search</button>
         </form>
         <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           <li class="nav-item dropdown mx-2">

            </li>

            <li class="nav-item mx-2">
             <a href="#" class="nav-link text-white">Login</a>
            </li>
            <li class="nav-item mx-2">
             <a href="#" class="nav-link text-white">Registration</a>
            </li>
          </ul>
         </div>
       </div>
     </div>
    </nav>
    {% block banner_slider %} {% endblock banner_slider %}

    {% block main-content %} {% endblock main-content %}

    <!-- Start Footer -->
     <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>company</h4>
  	 			<ul>
  	 				<li><a href="#">about us</a></li>
  	 				<li><a href="#">our services</a></li>
  	 				<li><a href="#">privacy policy</a></li>
  	 				<li><a href="#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="#">FAQ</a></li>
  	 				<li><a href="#">shipping</a></li>
  	 				<li><a href="#">returns</a></li>
  	 				<li><a href="#">order status</a></li>
  	 				<li><a href="#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>online shop</h4>
  	 			<ul>
  	 				<li><a href="#">Painting</a></li>
  	 				<li><a href="#">Statuary</a></li>
  	 				<li><a href="#">HandiCrafts</a></li>
  	 				<li><a href="#">Minatory</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>follow us</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>


    <!-- Jquery -->
    <script src="{% static 'products/js/jquery-3.5.1.min.js' %}"  crossorigin="anonymous"></script>
    <!-- Bootstrap Bundle with Popper -->
    <script src="{% static 'products/js/bootstrap.bundle.min.js' %}"  crossorigin="anonymous"></script>

    <script src="{% static 'products/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'products/js/all.min.js' %}"></script>
    <script src="{% static 'products/js/myscript.js' %}"></script>
  </body>
</html>